@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body, html {
    color: black;
    margin-top: 28px;

  }


.carousel-item.image{
  max-height: 70% !important;
}
div.transparent {
  background-color: rgba(255,255,255, 0.5);
  max-width: 70%;
  height: 200px;
  top: 30%;
}


.responsive-h1{
  font-size:5vw;
  position: relative;
  top: 0;

}
.bg h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

div > .dropdown-menu{
  background-color: #343a40 !important;
  width: 300px;
  border: #343a40;

}

.dropdown-menu > div > a{
  color: white;
	text-decoration: none !important;
}

.collapse.navbar-collapse > div.navbar-right.row {
	margin-left: 20px;
}